Order Allow,Deny
Allow from all
Deny from 109.190.14.152
#Deny from 109.190.151.33
Deny from 109.190.36.128
Deny from 94.242.254.81

<IfModule mod_rewrite.c>
    RewriteEngine On
    <If "%{REMOTE_ADDR} != '82.127.50.242' && %{REMOTE_ADDR} != '109.190.151.33'">
        AuthType Basic
        AuthName "restricted area"
        AuthUserFile /var/www/develop/htdocs/.htpasswd
        require valid-user
    </If>
</IfModule>
Satisfy all